<h1> Olá {{ user.fullName }} </h1>
<h2>Pedido de recuperação de senha!</h2>

<p>
  Nova Senha: <strong>{{ user.password }}</strong>
</p>

<p>
  <a href="{{ url }}">Clique aqui</a> para confirmar.
</p>
